server:
  port: 8083

spring:
  config:
    import: classpath:dev-config.yml
    # 1. 数据库连接配置
  datasource:
    url: jdbc:postgresql://${myip}:5432/postgres?currentSchema=public
    username: root
    password: ${pwd}
    driver-class-name: org.postgresql.Driver

wechat:
  appid: ${wechat_appid}
  secret: ${wechat_secret}


jwt:
  secret: ${jwt_secret}
  # 过期时间：7天 (1000 * 60 * 60 * 24 * 7)
  expiration: 604800000
  header: Authorization